.LandingPageBanner{
    width: 100%;
    height: 100%;
    filter: saturate(0.1); //@todo: use this to make whitish background
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}